{{#partial "content"}}
{{#if username }}
    <h1>Hello {{username}}</h1>

    <p>View <a href="/ideas">all course ideas</a></p>
{{ else }}
    <h1>Hello Students</h1>

    <form action="/sign-in" method="post">
        <input type="text" placeholder="Enter name" name="username" />
        <button>Sign-in</button>
    </form>

{{/if}}
{{/partial}}

{{> base.hbs}}